<div class="ui grid">
    <div class="column"></div>
    <div class="fourteen wide column">
		<div class="container">
			<div class="introduction">
	      	<h1 class="ui dividing header">Header</h1>
    		</div>
            <div class="ui">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
            </div>
  		</div>
  	</div>
  	<div class="column"></div>
</div>