<div class="ui three column grid">
	<div class="column"></div>
	<div class="column">
		<div class="container">
			<div class="introduction">
	      	<h1 class="ui dividing header">Header</h1>
		    <p>Headers provide a short summary of content</p>
		    <div class="ui basic labeled icon toggle overview button">Definition Mode<i class="book icon"></i></div>
    		</div>
    	<div class="advertisement">
        
  		<div id="carbonads-container"><div class="carbonad"><div id="azcarbon"></div><script type="text/javascript">var z = document.createElement("script"); z.type = "text/javascript"; z.async = true; z.src = "http://engine.carbonads.com/z/51619/azcarbon_2_1_0_HORIZ"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(z, s);</script></div></div></div>
  		</div>
  	</div>

  	<div class="column"></div>
</div>