<div class="ui page grid masthead segment">
  <div class="column">
    <div class="secondary pointing ui menu">
      <div class="header item"><b>Grimaldi Gerardo</b></div>
        <div class="right menu">
          <a class="active item" href="/#">
            <i class="home icon"></i> Home
          </a>
          <a href="/#/user/login" class="ui item login">
              <i class="sign in icon"></i>Login
          </a>
          <a href="/#/users" class="ui item">
            <i class="users icon"></i>Users
          </a>
          <a href="/#/user/register" class="ui item">
            <i class="edit icon"></i>Register
          </a>
            <div class="item">
              <div class="ui icon input">
                <input type="text" placeholder="Search...">
                <i class="search link icon"></i>
              </div>
          </div>
        </div>
      </div>
    </div>
</div>