 <!-- Static navbar -->
  <div class="ui page grid masthead segment">
    <div class="column">
      <div class="inverted secondary pointing ui menu">
        <div class="header item">Grimaldi Gerardo</div>
        <div class="right menu">
          <div class="ui tiered secondary pointing menu">
            <a class="active item" href="/#">
              <i class="home icon"></i> Home
            </a>
            <!--a href="/#/user" class="ui item login"-->
            <a href="#" class="ui item login">
              <i class="user icon"></i>Login
            </a>
            <a href="/#/users" class="ui item">
              <i class="users icon"></i>Users
            </a>
            <div class="right menu">
              <div class="item">
                <div class="ui icon input">
                  <input type="text" placeholder="Search...">
                  <i class="search link icon"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<script type="text/ng-template" id="one.html">
    <div>This is first template</div>
</script>