<div class="ui three column grid">
    <div class="column"></div>
  
    <div class="column">
    <h2 class="ui dividing header">
        Please register
      </h2>
        <div class="ui fluid form segment">
          <h3 class="ui header">Register User:</h3>
          <div class="two fields">
            <div class="field">
              <label>First Name</label>
              <input placeholder="First Name" ng-model="user.firstName" type="text" required autofocus>
            </div>
            <div class="field">
              <label>Last Name</label>
              <input placeholder="Last Name" ng-model="user.lastName" type="text" >
            </div>
          </div>
          <div class="field">
            <label>Email address</label>
            <div class="ui labeled icon input">
                <input placeholder="Email address" type="text" ng-model="user.email" required>
                <div class="ui corner label">
                  <i class="icon asterisk"></i>
                </div>
            </div>
          </div>
          <div class="field">
            <label>Password</label>
            <div class="ui labeled icon input">
                <input type="password" ng-model="user.password" placeholder="Password" >
                <div class="ui corner label">
                    <i class="icon asterisk"></i>
                </div>
            </div>
          </div>
          <div class="inline field">
            <div class="ui checkbox">
              <input type="checkbox" id="conditions">
              <!--label for="conditions">I agree to the terms and conditions</label-->
            </div>
          </div>
        <div ng-click ="createUser()"  class="ui blue submit button">Submit</div>
        </div>
    </div>
    <div class="column"></div>
</div>